# vim swp
*.swp

# log and exec file
cmake_targets/log/
cmake_targets/*/build/
cmake_targets/ran_build/
cmake_targets/nas_sim_tools/build/
log/
lte_build_oai/

# IDE files
.vscode
.cproject
.project
.settings

# Tags for vim/global
GPATH
GRTAGS
GTAGS
tags

# others
nfapi_nr_interface_scf
*.log
*.out

# build files
cmake_targets/CMakeCache.txt
cmake_targets/CMakeFiles/
cmake_targets/_check_vcdConfig.cmake
cmake_targets/bnProc_gen_128Config.cmake
cmake_targets/bnProc_gen_avx2Config.cmake
cmake_targets/bnProc_gen_avx512Config.cmake
cmake_targets/build.ninja
cmake_targets/cmake_install.cmake
cmake_targets/cnProc_gen_128Config.cmake
cmake_targets/cnProc_gen_avx2Config.cmake
cmake_targets/cnProc_gen_avx512Config.cmake
cmake_targets/common/
cmake_targets/doc/
cmake_targets/genidsConfig.cmake
cmake_targets/ldpc/
cmake_targets/openair1/
cmake_targets/openair2/
cmake_targets/openair3/
cmake_targets/radio/
common/utils/T/tracer/-
common/utils/T/tracer/srsT.raw
common/utils/T/tracer/srs_chest.raw
common/utils/T/tracer/srs_chest1.raw
docker/Dockerfile.base.dpdk.ubuntu22
docker/Dockerfile.build.split72.ubuntu22
docker/Dockerfile.gNB.split72.ubuntu22

common/utils/T/tracer/trace_rb_allocated
output.txt
